<div class="row header-box">
    <button class="btn btn-icon btn-sm btn-settings col-xs-1"
            ng-click="goToPage('/settings');">
    </button>
    <div class="h3 text-center col-xs-6 col-xs-offset-2">Status</div>
    <button class="btn btn-console-primary btn-icon btn-edit wide pull-right"
            ng-click="goToPage('/printers/edit');">
    </button>
</div>

<div class="row main-box">
    <table class="table table-hover list-printers-table">
        <tr ng-repeat="printer in printers">
            <td>
                <div class="pull-left icon" ng-class="getDefaultsForType(printer.type_id).cssClass"></div>
                <div class="pull-left">{{printer.name}}</div>
                <div class="pull-right">{{printer.status.state || '...'}}</div>
            </td>
        </tr>
    </table>
</div>

<div class="row footer-box">
    <button class="btn btn-icon btn-refresh pull-left" ng-click="retrievePrinters();"></button>
</div>