<div class="console col-md-4 center">
    <div class="row header-box">
        <button id="back" class="btn btn-icon btn-back col-xs-offset-1 col-xs-1 pull left"
                ng-click="goToPage('/printers');">
        </button>
        <div class="h4 text-center col-xs-8 col-xs-offset-1">Manage Printers</div>
        <button class="btn btn-console-primary btn-icon btn-add wide pull-right"
                ng-click="goToPage('/printers/add')">
        </button>
    </div>

    <div class="row main-box">
        <table class="table table-hover edit-printers-table">
            <tr ng-repeat="printer in printers">
                <td>
                    <div class="pull-left icon" ng-class="getDefaultsForType(printer.type_id).cssClass"></div>
                    <div class="pull-left">{{printer.name}}</div>
                    <div class="pull-right">
                        <button class="btn btn-icon btn-edit large" ng-click="goToPage('/printers/' + printer.id);"></button>
                        <!-- do not show delete button for dremel, printrbots or ultimaker -->
                        <button ng-show="printer.type_id !== '152A72A1-45C7-11E5-B970-0800200C9A66' && printer.type_id !== '8D586473-C1A9-451B-A129-2425357C6428' && printer.type_id !== '8301C8D0-7A59-4F4B-A918-D5D38888790F' && printer.type_id !== '3F64F6EC-A1DF-44AB-A22E-58C036F2F474' && printer.type_id !== '8D39294C-FA7A-40F4-AB79-19F506C64097' && printer.type_id !== 'F2F4B9B6-1D54-4A16-883E-B0385F27380D'" class="btn btn-icon btn-delete large" ng-click="deletePrinter(printer.id);"></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="row footer-box">
        <button class="btn btn-icon btn-refresh col-xs-offset-1 pull-left" ng-click="retrievePrinters();"></button>
    </div>
</div>