<div class="row header-box">
    <button class="btn btn-icon btn-back col-xs-1"
            ng-click="goToPage('/printers');">
    </button>
    <div class="h4 text-center col-xs-8 col-xs-offset-1">Manage Printers</div>
    <button class="btn btn-console-primary btn-icon btn-add wide pull-right"
            ng-click="goToPage('/printers/add')">
    </button>
</div>

<div class="row main-box">
    <table class="table table-hover edit-printers-table">
        <tr ng-repeat="printer in printers">
            <td>
                <div class="pull-left icon" ng-class="getDefaultsForType(printer.type_id).cssClass"></div>
                <div class="pull-left">{{printer.name}}</div>
                <div class="pull-right">
                    <button class="btn btn-icon btn-edit large" ng-click="goToPage('/printers/' + printer.id);"></button>
                    <!-- do not show delete button for dremel or ultimaker -->
                    <button ng-show="printer.type_id !== '3F64F6EC-A1DF-44AB-A22E-58C036F2F474' && printer.type_id !== '8D39294C-FA7A-40F4-AB79-19F506C64097' && printer.type_id !== 'F2F4B9B6-1D54-4A16-883E-B0385F27380D'" class="btn btn-icon btn-delete large" ng-click="deletePrinter(printer.id);"></button>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="row footer-box">
    <button class="btn btn-icon btn-refresh pull-left" ng-click="retrievePrinters();"></button>
</div>