.form-horizontal .control-label {
    text-align:left;
}

.printer-status-header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
    background-color: white;
    height: 64px;
}

.printer-status-header button {
    margin-top: 20px;
    display: inline;
}

.header-box {
    padding-right: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
    background-color: white;
    height: 64px;
}

.header-box button {
    margin-top: 20px;
}

.header-box .h4 {
    margin-top: 25px;
}

.footer-box {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
    background-color: white;
    padding: 20px;
}

.main-box {
    background-color: white;
    padding: 25px 30px;
}

.main-page {
    background-color: #475761;
    width: 100%;
    height: 100%;
}

.console {
    margin: 0 auto;
    float: none;
    max-width: 392px;
    min-width: 392px;
}

#printer-details-footer, #printer-add-footer {
    margin: -15px 0 0 0;
    padding-left: 0;
    padding-right: 0;
}

/* Printer icons */
.icon {
    width: 36px;
    height: 36px;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}

.dremel {
    background-image: url("../icons/dremel.png");
}

.type-a {
    background-image: url("../icons/typeA.png");
}

.ember {
    background-image: url("../icons/ember.png");
}

.ultimaker {
    background-image: url("../icons/ultimaker2.png");
}

.replicator2 {
    background-image: url("../icons/replicator2.png");
}

.printrbotsimple {
    background-image: url("../icons/printrbotsimple.png");
}

.printrbotplay {
    background-image: url("../icons/printrbotplay.png");
}

.printrbotplus {
    background-image: url("../icons/printrbotplus.png");
}

/* Button stylings */

.btn:active {
    outline:none !important;
    outline-color: black;
}
.btn:focus {outline:none;} ::-moz-focus-inner {border:0;}


.btn-settings, .btn-settings:active {
    background-image: url("../icons/Options.png");
}

.btn-delete, .btn-delete:active {
    background-image: url("../icons/Delete.png");
}

.btn-back, .btn-back:active {
    background-image: url("../icons/Back.png");
}

.btn-refresh, .btn-refresh:active {
    background-image: url("../icons/Refresh.png");
}

.btn-edit, .btn-edit:active {
    background-image: url("../icons/Edit.png");
}

.btn-add, .btn-add:active {
    background-image: url("../icons/Add.png");
}

.btn-icon.wide {
    width: 40px;
}

.btn-icon.large {
    width: 36px;
    height: 36px;
}

.btn-icon {
    width: 28px;
    height: 28px;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0;
}

.btn-console-primary {
    background-color: #e7e7e7;
    border-radius: 8px;
    font-weight: bold;
}

.btn-console-primary:active {
    outline:none !important;
}


/* Table stylings */

#add-printer-row {
    color: #3ac7fe;
    font-weight: bold;
}

.table > tbody > tr > td {
    border-top: 0;
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr:last-child > td {
    border-top: 0;
    border-bottom: 0;
}

.table > tbody > tr.selected {
    background-color: #bfebfe;
}

.edit-printers-table td > div:nth-child(2) {
    margin-top: 8px;
}

.list-printers-table td > div:not(:first-child){
    margin-top: 8px;
}

/* Custom checkbox stylings */
input[type=checkbox] {
    display: none;
}

input[type="checkbox"] + label {
    font-weight: normal;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
}

input[type="checkbox"]:checked + label span:after {
    content: '\2713';
}

.progress {
    height: 30px;
    width: 100%;
    background-image: none;
    background-color: rgb(240, 240, 240);
}

.progress-bar {
    color: black;
    background-image: none;
    background-color: rgb(184, 184, 184);
}

.progress-value {
    margin-top: 5px;
    margin-left: 2px;
    display: block;
    width:100%;
    color: black;
}

.printer-status {
    padding-right: 0px;
    margin-right: 0px;
}

.printer-status > a {
    min-width: 110px;
    max-width: 110px;
}

.printer-name {
    word-wrap: break-word;
    min-width: 120px;
    max-width: 120px;
}

.display-row {
    padding-right: 20px;
    padding-left: 20px;
}

#printer-name-info {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#printer-title {
    height: 70%;
    margin-top: 10px;
    margin-bottom: 0px;
}

#printer-type {
    height: 30%;
}

#job-status {
    margin-bottom: 10px;
}
#job-status-values {
    margin-bottom: 10px;
}

#back {
    margin-left: 15px;
}